<div id="title">Storage</div>
<table class= "table">
  <tr>
    <th>Name</th>
    <th>Producer</th>
    <th>Quantity</th>
  </tr>

  <tr *ngFor="let a of articles">
    <!-- <td>{{a.articl.name}}</td>
    <td>
      {{a.articl.producer}}
    </td> -->
    <td>
      {{a.qnt}}
    </td>
  </tr>

  <tr>
    <!-- <td colspan="10" >
      <button class="btn btn-large btn-primary" (click)="addNewEnterprise()">Add new enterprise</button>
      <button class="btn btn-large btn-primary" (click)="addNewFarmer()">Add new farmer</button>
    </td> -->
  </tr>
</table>



