#errorMessage{
  text-align: center;
  font-size: 20px;
  color: red;
}

#logIn{
  margin:10px;
  text-align: center;
  font-size: 20px;
}

.btn{
  font-size: 16px;
  margin:10px;
}

#register{
  margin:10px;
  text-align: center;
}

