#errorMessage{
  background: indianred;
  margin: 0 5 5px ;
  width: 300px;
}

.btn{
  font-size: 15px;
  text-align: center;
  width: 20%;
}

#note{
  font-size: 20px;
  position: fixed;
  bottom: 50px;
  right: 0px;
}
