<form>
  <table class="table">
    <tr>
      <td>Old password:</td>
      <td>
        <input type='password'
              [(ngModel)]='oldPass'
              required
              name='oldPass'>
      </td>
    </tr>
    <tr>
      <td>Password:</td>
      <td>
        <input type='password'
              [(ngModel)]='newPass1'
              required
              name='newPass1'>
      </td>
    </tr>
    <tr>
      <td>Retype password:</td>
      <td>
        <input type='password'
              [(ngModel)]='newPass2'
              required
              name='newPass2'>
      </td>
    </tr>
    <tr>
      <td>
        <button class="btn btn-large btn-success"
                (click)='changePassword()'>
                Change password
        </button>
      </td>
    </tr>
  </table>
</form>

<div id="errorMessage">
  {{message}}
</div>
