<div id="title">List of all users</div>
<table class= "table">
  <tr>
    <th>Username</th>
    <th>Status</th>
    <th>Type</th>
    <th>Approvals</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <tr *ngFor="let u of users">
    <td>{{u.username}}</td>
    <td>
      <div *ngIf="u.type == 0">Admin</div>
      <div *ngIf="u.type == 1">Enterprise</div>
      <div *ngIf="u.type == 2">Farmer</div>
    </td>
    <td>
      <div *ngIf="u.approvedByAdmin">Approved</div>
      <div *ngIf="!u.approvedByAdmin">Pending</div>
    </td>
    <td>
      <button class="btn btn-success btn-large" (click)="approveUser(u.username)">Accept</button>
      <button class="btn btn-danger btn-large" (click)="deleteUser(u.username)">Decline</button>
    </td>
    <td>
      <button (click)="editUser(u.username, u.type)" href="">Edit</button>
    </td>
    <td>
      <button class="btn btn-danger" (click)="deleteUser(u.username)">&#10006;</button>
    </td>
  </tr>

  <tr>
    <td colspan="10" >
      <button class="btn btn-large btn-primary" (click)="addNewEnterprise()">Add new enterprise</button>
      <button class="btn btn-large btn-primary" (click)="addNewFarmer()">Add new farmer</button>
    </td>
  </tr>
</table>



