<div id="title">Online shop</div>
<table class= "table">
  <tr>
    <th>OrderId</th>
    <th>Articl name</th>
    <th>Date</th>
    <th>Status</th>
    <th>Accept</th>
  </tr>
  <!-- <tr *ngFor="let a of articls">
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="{{a._id}}" id="checkBox">
      </div>
    </td>
    <td>{{a.name}}</td>
    <td *ngIf="a.type.valueOf() == 1">
      Seed
    </td>
    <td *ngIf="a.type.valueOf() == 2">
      Elixir
    </td>
    <td>
      {{a.qnt}}
    </td>
    <td>
      {{a.score}}
    </td>
    <td>
      <button class="btn btn-large btn-success">Comment</button>
      <button class="btn btn-large btn-warning">Score</button>
    </td>
  </tr> -->

  <tr>
    <!-- <td colspan="6" >
     <button class="btn btn-large btn-warning" (click)="buy()">Buy</button>
    </td> -->
  </tr>
</table>



