
<div id="title">Online shop</div>
<table class="row-border hover"
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger">
<thead>
  <tr>
    <th>OrderId</th>
    <th>Articl name</th>
    <th>Date</th>
    <th>Status</th>
    <th>Accept</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let order of orders; let i = index">
    <td>
     {{order._id}}
    </td>
    <td>{{articls[i].name}}</td>
    <td>
      {{order.dateOfOrder.valueOf()}}
    </td>
    <td *ngIf="order.status.valueOf() == 1" (click)="changeOrderStatus(order._id)">
      Ordered
    </td>
    <td *ngIf="order.status.valueOf() == 2" style="background-color: indianred;">
      On waiting
    </td>
    <td *ngIf="order.status.valueOf() == 3">
      Active
    </td>
    <td *ngIf="order.status.valueOf() == 4">
      Delivered
    </td>
    <td>
      <button class="btn btn-large btn-success" style= "margin: 4px; font-size: 15px;" (click)="acceptOrder(order._id)">&#9825;</button>
      <button class="btn btn-large btn-warning" style= "margin: 4px; font-size: 15px;" (click)="cancelOrder(order._id)">&#10006;</button>
    </td>
  </tr>
</tbody>

</table>

<button class="btn btn-large btn-warning" style= "margin: 4px; font-size: 15px;" (click)="myArticls()">Online store</button>
<button class="btn btn-large btn-warning" style= "margin: 4px; font-size: 15px;" (click)="statistic()">Statistic</button>


