<!-- <div id="details">
  <div id="subDetail">
    Name: {{seed.name}}
  </div>
  <div id="subDetail">
    Producer: {{seed.producer}}
  </div >
  <div class="progress" id="subDetail">
    <div class="progress-bar"
        role="progressbar"
        aria-valuemax="100"
        aria-valuemin="0"
        aria-valuenow="30"
        style="width:" + {{valueNow}}>
        {{valueNow}}%
    </div>
  </div>
  <button class="btn btn-large btn-warning"
          id="subDetail"
          style="float:right;">
          Add elixir
  </button>
</div> -->
